@import "~bootstrap/scss/bootstrap";

.color-blue {
    fill: #00cad1;
}

.color-green {
    fill: #00d15e;
}

.color-yellow {
    fill: #edf04d;
}

.color-red {
    fill: #f04d4d;
}

.color-purple {
    fill: #f04dc2;
}

.color-orange {
    fill: #faa72a;
}